node_modules
# Keep environment variables out of version control
.env
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Porgramming-Hero-web-course/l2-b2-fullstack-track-assignment-8-1104Anikbarua.git
git push -u origin main